<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146548679439-g2sq0mn16ttj5lrni02kvepfusbrk5o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146548679439-g2sq0mn16ttj5lrni02kvepfusbrk5o7</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ger3TH5Td903Ii5_aWmij6a66yx1xY4</string>
	<key>GCM_SENDER_ID</key>
	<string>146548679439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodo</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-b69ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-b69ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146548679439:ios:22af16d058762ff0a9947a</string>
</dict>
</plist>